<h2>Mostrar Clientes</h2>

<a routerLink="/create" class="btn btn-primary" type="button">Crear</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Genero</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Clientes">
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.genero}}</td>
                <td>{{item.email}}</td>
                <td>
                    <button routerLink="/edit/{{item.id}}" class="btn btn-primary"><i class="fas fa-edit"></i></button>
                    <button (click)="deleteRow(item.id)"  class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>
    </table>